In [2]:
import pandas as pd
import openpyxl

In [3]:
df = pd.read_excel("C:/Users/moise/OneDrive/Documentos/UPY/project/Estancia ENES/Scraper_and_mapping/Databases/DD28166.xlsx", engine="openpyxl", index_col=None)
df

,pk_anio,pk_mes,ngasto_d01,ngasto_d02,ngasto_d03,ngasto_d04,ngasto_d05,ngasto_d06,ngasto_d07,ngasto_d08,...,ngasto_d22,ngasto_d23,ngasto_d24,ngasto_d25,ngasto_d26,ngasto_d27,ngasto_d28,ngasto_d29,ngasto_d30,ngasto_d31
0,1980,6,2.20,2.20,2.2,2.20,2.10,2.10,2.10,2.10,...,4.50,4.30,4.00,4.30,3.55,3.10,2.55,2.43,2.30,NaN
1,1980,7,2.30,2.10,2.1,2.10,1.98,2.10,2.20,2.43,...,3.25,2.75,3.85,6.30,5.50,5.20,4.50,4.15,6.10,7.53
2,1980,8,24.80,19.40,12.8,10.50,8.55,7.53,6.80,6.55,...,8.80,12.80,12.00,10.80,9.30,8.30,7.53,7.30,7.53,7.05
3,1980,9,7.05,7.05,20.7,14.50,11.10,9.30,8.03,7.75,...,7.30,7.30,10.50,23.30,34.50,76.80,157.00,83.50,36.80,NaN
4,1980,10,23.80,19.90,17.1,14.50,12.50,11.10,9.90,9.05,...,4.30,4.15,4.30,4.50,4.70,4.15,4.70,4.30,4.00,4.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,1998,8,11.50,10.00,17.7,14.00,22.00,20.40,15.80,12.60,...,6.11,5.55,5.73,5.68,5.48,5.50,5.09,4.99,5.40,6.55
219,1998,9,8.75,11.40,11.0,14.00,33.50,93.30,61.00,66.80,...,25.10,22.80,21.40,18.10,21.00,32.90,42.60,62.10,44.70,NaN
220,1998,10,35.50,27.60,22.5,19.80,18.40,18.50,20.60,18.20,...,16.00,16.10,53.10,61.70,55.90,41.70,33.50,27.90,23.90,20.40
221,1998,11,18.10,16.60,15.6,14.90,14.20,13.40,12.30,11.50,...,9.55,11.00,11.80,10.30,9.43,8.66,8.05,7.75,7.51,NaN
222,1998,12,7.09,6.83,6.7,6.53,6.10,5.95,5.83,5.70,...,4.54,4.47,4.38,4.38,4.38,4.34,4.20,4.06,4.18,4.06

In [4]:
df.columns

Index(['pk_anio', 'pk_mes', 'ngasto_d01', 'ngasto_d02', 'ngasto_d03',
       'ngasto_d04', 'ngasto_d05', 'ngasto_d06', 'ngasto_d07', 'ngasto_d08',
       'ngasto_d09', 'ngasto_d10', 'ngasto_d11', 'ngasto_d12', 'ngasto_d13',
       'ngasto_d14', 'ngasto_d15', 'ngasto_d16', 'ngasto_d17', 'ngasto_d18',
       'ngasto_d19', 'ngasto_d20', 'ngasto_d21', 'ngasto_d22', 'ngasto_d23',
       'ngasto_d24', 'ngasto_d25', 'ngasto_d26', 'ngasto_d27', 'ngasto_d28',
       'ngasto_d29', 'ngasto_d30', 'ngasto_d31'],
      dtype='object')

In [5]:
df.dtypes

pk_anio         int64
pk_mes          int64
ngasto_d01    float64
ngasto_d02    float64
ngasto_d03    float64
ngasto_d04    float64
ngasto_d05    float64
ngasto_d06    float64
ngasto_d07    float64
ngasto_d08    float64
ngasto_d09    float64
ngasto_d10    float64
ngasto_d11    float64
ngasto_d12    float64
ngasto_d13    float64
ngasto_d14    float64
ngasto_d15    float64
ngasto_d16    float64
ngasto_d17    float64
ngasto_d18    float64
ngasto_d19    float64
ngasto_d20    float64
ngasto_d21    float64
ngasto_d22    float64
ngasto_d23    float64
ngasto_d24    float64
ngasto_d25    float64
ngasto_d26    float64
ngasto_d27    float64
ngasto_d28    float64
ngasto_d29    float64
ngasto_d30    float64
ngasto_d31    float64
dtype: object

In [6]:
# Si 'pk_anio' estÃ¡ como Ã­ndice, lo convertimos en columna
if 'level_0' in df.columns:
    df = df.drop(columns=['level_0'])
df.reset_index(inplace=True)

# Lista de nombres de meses
nombres_meses = ["ene.", "feb.", "mar.", "abr.", "may.", "jun.", "jul.", "ago.", "sep.", "oct.", "nov.", "dic."]

# Transformar el DataFrame de formato ancho a largo
df_long = df.melt(id_vars=["pk_anio", "pk_mes"], var_name="dia", value_name="valor")

# Extraer solo los nÃºmeros de dÃ­a (ngasto_d01 â†’ 1), ignorando los NaN
df_long["dia"] = df_long["dia"].str.extract(r"(\d+)")

# **Manejamos los NaN antes de convertir a int**
df_long = df_long.dropna(subset=["dia"])
df_long["dia"] = df_long["dia"].astype(int)

# **Convertimos 'pk_mes' y 'pk_anio' a int**
df_long["pk_mes"] = df_long["pk_mes"].astype(int)
df_long["pk_anio"] = df_long["pk_anio"].astype(float)

# Filtrar para eliminar el aÃ±o 1954
df_long = df_long[df_long["pk_anio"] != 1954]

# Crear la columna "Fecha" en formato '1-ene.', '2-ene.', etc.
df_long["Fecha"] = df_long["dia"].astype(str) + "-" + df_long["pk_mes"].apply(lambda x: nombres_meses[x-1])

df_long = df_long.groupby(["Fecha", "pk_anio"], as_index=False)["valor"].mean()

# Reorganizar el DataFrame para que los aÃ±os sean columnas y las fechas sean el Ã­ndice
df_pivot = df_long.pivot(index="Fecha", columns="pk_anio", values="valor")

# Asegurar que solo haya 365 filas y estÃ©n en orden correcto
fechas_ordenadas = [f"{d+1}-{m}" for m in nombres_meses for d in range(31) if not (m == "feb." and d >= 28)]  # Evita 29-feb.
df_pivot = df_pivot.reindex(fechas_ordenadas)

# Hacer que 'Fecha' sea el Ã­ndice
df_pivot.index.name = "Fecha"

# Eliminar 'pk_anio' del encabezado
df_pivot.columns.name = None

# Mostrar el DataFrame transformado
df_pivot

,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0
Fecha,,,,,,,,,,,,,,,,,,,
1-ene.,NaN,2.45,4.15,2.17,2.68,4.22,2.2,2.8,1.90,3.03,2.13,2.98,3.54,3.32,4.40,2.62,2.84,3.37,4.06
2-ene.,NaN,2.45,4.15,2.17,2.68,4.07,2.2,2.8,1.90,3.03,2.13,3.00,3.46,3.32,4.25,2.50,2.68,3.37,4.06
3-ene.,NaN,2.45,4.15,2.17,2.55,3.79,2.3,2.8,1.75,2.90,2.13,2.99,3.38,3.32,4.20,2.50,2.68,3.34,4.06
4-ene.,NaN,2.45,3.80,2.17,2.55,3.51,2.2,2.8,1.50,2.90,2.00,3.11,3.24,3.32,4.03,2.50,2.65,3.37,4.06
5-ene.,NaN,2.45,3.80,2.17,2.68,3.65,2.1,2.7,1.50,3.15,1.88,3.11,3.18,3.22,4.00,2.50,2.55,3.34,3.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27-dic.,2.3,3.20,2.10,2.52,4.04,2.95,2.9,2.3,3.90,2.78,3.40,3.90,3.25,3.82,2.30,4.06,3.56,4.72,4.34
28-dic.,2.2,3.35,1.86,2.34,5.47,2.70,2.9,2.3,3.80,2.53,3.25,3.90,3.25,3.77,2.28,3.41,3.57,4.68,4.20
29-dic.,2.2,3.35,1.86,2.34,5.27,2.70,2.9,2.4,3.80,2.40,3.10,3.71,3.25,3.76,2.07,3.39,3.52,4.58,4.06
30-dic.,2.1,3.50,1.63,2.34,4.72,2.47,2.9,2.6,3.70,2.40,2.95,3.70,3.17,3.76,2.28,3.17,3.83,4.52,4.18
31-dic.,2.1,3.50,1.63,2.34,4.37,2.35,3.1,2.6,3.60,2.53,3.10,3.70,3.08,3.76,2.28,4.36,3.44,4.44,4.06

In [7]:
df_pivot.to_excel("C:/Users/moise/OneDrive/Documentos/UPY/project/Estancia ENES/Scraper_and_mapping/Databases/DD28166_transform.xlsx", index=True)